.discussions-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.discussions-bar .title-top {
  font-weight: 800;
  justify-content: space-between;
  font-size: max(1.6vw, 16px);
  align-items: center;
}

.discussions-bar .search-bar {
  position: relative;
  margin-top: 15px;
}

.discussions-bar .search-bar input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 0 5px 0 40px;
  font-family: nunito;
  border: 1px solid lightblue;
  border-radius: 20px;
  outline-offset: 1px;
  outline-color: aqua;
}

.discussions-bar .search-bar .search-icon {
  position: absolute;
  top: 32%;
  left: 10px;
}

.discussions-bar hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.discussions-bar .discussions {
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100%;
}

.discussions-bar .group {
  background-color: #1F1F1F;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.discussions-bar .group img {
  width: 50px;
  max-width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #0097b2;
}

.discussions-bar .group .group-title {
  font-size: max(1.2vw, 16px);
  font-weight: 600;
}

.discussions-bar #group-active {
  background-color: #0097b2;
  border-radius: 8px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: #fff !important;
}

.discussions-bar #group-active img {
  border-color: magenta;
}
