.sidebar {
  max-height: 95vh;
  width: 100%;
  max-width: 20%;
  background-color:  #161B22 ;
  border-radius: 8px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}


@media (max-width: 767px) {
  .sidebar {
    max-width: 100% !important;
    box-sizing: border-box !important;
  }

}