@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: nunito;
  font-size: 14px;
  background-color: #121212;
  color: #FFFF !important;
}

#root {
  margin: 0;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.p-0-m-0 {
  padding: 0;
  margin: 0;
}

.w-100 {
  width: 100% !important;
}

.flex-center {
  align-items: center;
}

.space-btw {
  justify-content: space-between;
}

.Toastify__toast-body div {
  font-family: nunito !important;
  font-size: 12px !important;
}

.justify-content-center {
  justify-content: center;
}