@font-face {
  font-family: nunito;
  src: url('./assets/fonts/static/Nunito-Regular.ttf');
}

@font-face {
  font-family: nunito-black;
  src: url('./assets/fonts/static/Nunito-Black.ttf');
}

@font-face {
  font-family: nunito-bold;
  src: url('./assets/fonts/static/Nunito-Bold.ttf');
}

body {
  margin: 0;
  padding: 0 10px;
  height: 100%;
  max-height: 100vh !important;
  overflow-y: hidden;
  font-family: nunito;
  font-size: 14px;
  background-color: #121212;
  color: #FFFF !important;
  display: flex;
}

#root {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh !important;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.p-0-m-0 {
  padding: 0;
  margin: 0;
}

.w-100 {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.flex-center {
  align-items: center;
}

.space-btw {
  justify-content: space-between;
}

.Toastify__toast-body div {
  font-family: nunito !important;
  font-size: 12px !important;
}

.justify-content-center {
  justify-content: center;
}

.max-length {
  max-width: 100% !important;
}

.small-title {
  font-size: max(1.2vw, 12px) !important;
}

.txt-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
